html, body {
    background-color:#333;
    font-family:'Josefin Sans', sans-serif;
    height:100%;
    margin:0;
    min-height:100%;
    padding:0;
    position:relative;
    width:100%;
}
h1 {
    color:rgba(24,221,0,1);
    color:rgba(47,181,243,1);
    left:50%;
    margin-left:-250px;
    margin-bottom:155px;
    position:absolute;
    text-align:center;
    top:-100px;
    transition:top 300ms;
    width:500px;
    z-index:40;
}
body[data-active-scene] h1 {
    top:0;
}
body[data-active-scene="start"] h1 {
    top:50%;
}

#gameWrapper {
    background-color:#000;
    height:400px;
    left:50%;
    margin-left:-150px;
    margin-top:-200px;
    overflow:hidden;
    position:absolute;
    top:50%;
    width:300px;
}

#gameWrapper #UI {
    height:100%;
    position:absolute;
    top:0;
    width:100%;
}

#gameWrapper .scene {
    height:100%;
    position:absolute;
    top:-400px;
    transition:top 400ms;
    width:100%;
}
/*
 * Start Scene
 */
body[data-active-scene="start"] #gameStart {
    top:0;
}
#gameStart #pressKeyToStart {
    bottom:50px;
    color:rgba(24,221,0,1);
    height:50px;
    position:absolute;
    text-align:center;
    width:100%;
}
#gameStart #pressKeyToStart:hover,
#gameStart #pressKeyToStart:active {
    cursor:pointer;
    text-decoration:underline;
}
/*
 * Map Scene
 */
body[data-active-scene="map"] #gameWrapper #map {
    top:0;
}
#map .mapTile {
    position:absolute;
}
#map .mapTile .inner {
    background-color:aquamarine;
    height:60px;
    left:49%;
    margin:-30px;
    padding:2%;
    position:absolute;
    top:49%;
    width:60px;
}
#map .mapTile.available .inner {
    cursor:pointer;
}
#map .mapTile.available .inner:hover {
    background-color:tomato;
}

/*
 * Char Select Scene
 */
body[data-active-scene="charSelect"] #gameWrapper #charSelect {
    overflow-y:visible;
    top:0;
}
#charSelect ul.charList {
    list-style-type:none;
    margin:0;
    padding:0;
}
#charSelect .char {
    color:white;
    cursor:pointer;
    display:flex;
}
#charSelect .char:hover {
    background-color:rgba(255,255,255,0.1);
    transition:all 300ms;
}
#charSelect .icon {
    border:2px solid #666;
    display:inline-block;
    width:76px;
    height:76px;
}
#charSelect .char .icon {
    border:2px solid #090;
}
#charSelect .name {
    font-size:1.2em;
    font-size:1.2rem;
    font-weight:bold;
}

/*
 * Gameplay Scene
 */
body[data-active-scene="game"] #gameWrapper #game {
    top:0;
}
#game #board {
    background-color:gray;
    height:300px;
    width:100%;
}
#game #timeline {
    background-color:slategray;
    display:flex;
    flex-direction:row;
    height:100px;
    justify-content:space-around;
    width:100%;
}
#timeline .charNode {
    border:2px solid #666;
    border-radius:50%;
    height:42px;
    width:42px;
}
#timeline .timeNode {
}
#timeline .playerTimeNode {
    background-color:aquamarine;
    border:2px solid #666;
    border-radius:50%;
    height:21px;
    width:21px;
}
#timeline .enemyTimeNode {
    background-color:tomato;
    border:2px solid #666;
    border-radius:50%;
    height:21px;
    width:21px;
}

/*
 * Closed Captioning Window
 */
#closedCaptions {
    background-color:darkslategrey;
    border-radius:10px;
    color:white;
    left:50%;
    margin-left:-250px;
    margin-bottom:155px;
    max-width:100%;
    min-height:50px;
    opacity:0;
    padding:5px;
    position:absolute;
    text-align:center;
    top:520px;
    transition:opacity 300ms;
    width:490px;
    z-index:10;
}
body[data-captions-on="true"] #closedCaptions {
    opacity:1;
}

#score {
    color:rgba(24,221,0,1);
    height:50px;
    left:50%;
    margin:-150px;
    margin-top:155px;
    position:absolute;
    text-align:right;
    top:50%;
    width:300px;
    
    display:none;
}
#healthWrapper {
    background-color:#666;
    height:4px;
    left:50%;
    margin:-150px;
    margin-top:165px;
    position:absolute;
    text-align:right;
    top:50%;
    width:150px;
    
    display:none;
}
#healthBar {
    background-color:rgba(24,221,0,1);
    height:100%;
    transition:width 300ms;
    width:0%;
}

#optionsToggle {
    background-color:transparent;
    border-width:0;
    color:rgba(47,181,243,1);
    cursor:pointer;
    font-size:12pt;
    text-decoration:underline;
}
#optionsToggle:hover,
#optionsToggle:active {
    text-decoration:none;
}
section#options {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index:42;
}
section#options ul#menu {
    background-color:#333;
    border:1px solid rgba(24,221,0,1);
    height:0;
    margin:0;
    opacity:0;
    overflow:hidden;
    padding:5px 10px;
    transition:all 300ms;
}
body.optionsOpen section#options ul#menu {
    height:130px;
    opacity:1;
}
section#options ul#menu h2 {
    border-bottom:1px solid white;
    color:white;
    margin:0;
    margin-bottom:10px;
}
section#options ul#menu label {
    color:white;
}

footer {
    bottom:0;
    margin:0;
    padding:0;
    position:absolute;
    right:0;
}
footer p {
    margin:5px;
    padding:5px;
}
footer p a {
    color:rgba(47,181,243,1);
}