html, body {
    background-color:#333;
    font-family:'Josefin Sans', sans-serif;
    height:100%;
    margin:0;
    min-height:100%;
    padding:0;
    position:relative;
    width:100%;
}
h1 {
    color:rgba(24,221,0,1);
    color:rgba(47,181,243,1);
    left:50%;
    margin-left:-250px;
    margin-bottom:155px;
    position:absolute;
    text-align:center;
    top:-100px;
    transition:top 300ms;
    width:500px;
    z-index:40;
}
body[data-active-scene] h1 {
    top:0;
}
body[data-active-scene="start"] h1 {
    top:50%;
}

#gameWrapper {
    background-color:#000;
    height:400px;
    left:50%;
    margin-left:-150px;
    margin-top:-200px;
    overflow:hidden;
    position:absolute;
    top:50%;
    width:300px;
}

#gameWrapper #UI {
    height:100%;
    position:absolute;
    top:0;
    width:100%;
}

#gameWrapper .scene {
    height:100%;
    position:absolute;
    top:-400px;
    transition:top 400ms;
    width:100%;
}
/*
 * Start Scene
 */
body[data-active-scene="start"] #gameStart {
    top:0;
}
#gameStart #pressKeyToStart {
    bottom:50px;
    color:rgba(24,221,0,1);
    height:50px;
    position:absolute;
    text-align:center;
    width:100%;
}
#gameStart #pressKeyToStart:hover,
#gameStart #pressKeyToStart:active {
    cursor:pointer;
    text-decoration:underline;
}
/*
 * Map Scene
 */
body[data-active-scene="map"] #gameWrapper #map {
    top:0;
}
#map .mapTile {
    position:absolute;
}
#map .mapTile .inner {
    background-color:aquamarine;
    height:60px;
    left:49%;
    margin:-30px;
    padding:2%;
    position:absolute;
    top:49%;
    width:60px;
}
#map .mapTile.available .inner {
    cursor:pointer;
}
#map .mapTile.available .inner:hover {
    background-color:tomato;
}

/*
 * Map Scene
 */
body[data-active-scene="charSelect"] #gameWrapper #charSelect {
    top:0;
}


#score {
    color:rgba(24,221,0,1);
    height:50px;
    left:50%;
    margin:-150px;
    margin-top:155px;
    position:absolute;
    text-align:right;
    top:50%;
    width:300px;
    
    display:none;
}
#healthWrapper {
    background-color:#666;
    height:4px;
    left:50%;
    margin:-150px;
    margin-top:165px;
    position:absolute;
    text-align:right;
    top:50%;
    width:150px;
    
    display:none;
}
#healthBar {
    background-color:rgba(24,221,0,1);
    height:100%;
    transition:width 300ms;
    width:0%;
}

#optionsToggle {
    background-color:transparent;
    border-width:0;
    color:rgba(47,181,243,1);
    cursor:pointer;
    font-size:12pt;
    text-decoration:underline;
}
#optionsToggle:hover,
#optionsToggle:active {
    text-decoration:none;
}
section#options {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
section#options ul#menu {
    border:1px solid rgba(24,221,0,1);
    height:0;
    margin:0;
    opacity:0;
    overflow:hidden;
    padding:5px 10px;
    transition:all 300ms;
}
body.optionsOpen section#options ul#menu {
    height:110px;
    opacity:1;
}
section#options ul#menu h2 {
    border-bottom:1px solid white;
    color:white;
    margin:0;
    margin-bottom:10px;
}
section#options ul#menu label {
    color:white;
}

footer {
    bottom:0;
    margin:0;
    padding:0;
    position:absolute;
    right:0;
}
footer p {
    margin:5px;
    padding:5px;
}
footer p a {
    color:rgba(47,181,243,1);
}